form td.label
{
	width: 5em;
}
form td
{
	padding: 0 1em 1em 0;
}
.comment
{
	font-size: 85%;
	color: gray;
}
input.text
{
	width: 100%;
}
input.narrow
{
	width: 70%;
}
textarea
{
	width: 65.5em;
	height: 30em;
}
.selector
{
	font-size: 85%;
	margin-bottom: 2em;
}
.selector a,
.selector a:visited
{
	color: blue;
	padding: 2px;
}
.selector span
{
	background-color: #E5E5E5;
	padding: 2px;
}
.selector span a,
.selector span a:visited
{
	padding: 0;
}
span.published
{
	font-style: normal;
	color: gray;
	font-size: 80%;
}
div.separator
{
	border-bottom: 1px solid #CCCCCC;
}
span.add-keyword
{
	border-bottom: 1px dashed gray;
	cursor: pointer;
}
.spare
{
	line-height: 200%;
}
div.modified
{
	color: gray;
	font-size: 85%;
	margin-bottom: 1em;
}
